.footer-container {
    padding: 8px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
  }
  
  .divider {
    border: 1px solid red;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  
  .footerHeading {
    margin: 12px;
  }
  
  .telephone{
    height: 12px !important;
    border-radius: 50%;
    background-color: white;
    fill:red !important;
    width: 15px !important;
  }
  .subtext {
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    padding: 3px;
  }
  .subtext::after{
    content:' |';
    margin-left:2px;
    width: 1px;
    height: 2px;
    color: red;
  }
  .contentItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }

  .footer-items {
    background: red;
    height: 100px;
    margin-top: 20px;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    box-sizing: border-box;
  }
  
  .item {
    color: white;
    font-size: small;
  }
  
  @media (max-width: 768px) {
    .footer-items {
      flex-direction: column;
      align-items: center;
      height: auto;
    }
  }
  